@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;800&family=Poppins:ital@1&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #cce7ff;
  color: white;
  font-family: "Kanit", serif;
}

/* .image-inverted {
  filter: invert(100%);
} */

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiSlider-markLabel {
  color: white !important;
  font-size: 20px !important;
}

.MuiInputBase-input {
  color: white !important;
}
